/* You can add global styles to this file, and also import other style files */
.multiselect-dropdown {
  position: relative !important;
  width: 13% !important;
  font-size: inherit;
  font-family: inherit;
}
